<!doctype html>
<html>
<head>
    <title>ConvexHull (Geometry)</title>
</head>
<body>
    <form action="" method="get">
    <table>
        <tr>
            <td>
                Spatial Reference:
            </td>
            <td>
                <input type="text" value="" name="sr" />
            </td>
        </tr>
        <tr valign="top">
            <td>
                Geometries:
            </td>
            <td>
                <textarea cols="50" rows="10" name="geometries"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Format:
            </td>
            <td>
                <select name="f">
                    <option>HTML</option>
                    <option value="pjson">JSON</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="ConvexHull" />
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
