<!doctype html>
<html>
<head>
    <title>Geometry (GeometryServer)</title>
</head>
<body>
    <div>Geometry (GeometryServer) </div>
    <div>Service Description:</div>
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum gravida convallis libero, sit amet vehicula nunc gravida a. Sed ac urna ut velit scelerisque aliquam. Aliquam erat volutpat. Donec auctor, mauris sit amet commodo varius, velit sem commodo felis, ut dignissim dui enim aliquet odio. Aenean suscipit purus quis est pretium sed pretium magna facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean vehicula tincidunt sapien, nec laoreet leo placerat non. Cras volutpat rhoncus metus, ut luctus felis tempor rhoncus. In non risus magna. Sed pharetra laoreet laoreet. </div>
    <div>Supported Operations:</div>
    <ul>
        <li><a href="/GeometryServer/Project">Project</a></li>
        <li><a href="/GeometryServer/Simplify">Simplify</a></li>
        <li><a href="/GeometryServer/Buffer">Buffer</a></li>
        <li><a href="/GeometryServer/AreasAndLengths">Areas And Lengths</a></li>
        <li><a href="/GeometryServer/Lengths">Lengths</a></li>
        <li><a href="/GeometryServer/LabelPoints">Label Points</a></li>
        <li><a href="/GeometryServer/Relation">Relation</a></li>
        <li><a href="/GeometryServer/Densify">Densify</a></li>
        <li><a href="/GeometryServer/Distance">Distance</a></li>
        <li><a href="/GeometryServer/Union">Union</a></li>
        <li><a href="/GeometryServer/Intersect">Intersect</a></li>
        <li><a href="/GeometryServer/Difference">Difference</a></li>
        <li><a href="/GeometryServer/Cut">Cut</a></li>
        <li><a href="/GeometryServer/TrimExtend">TrimExtend</a></li>
        <li><a href="/GeometryServer/Offset">Offset</a></li>
        <li><a href="/GeometryServer/Generalize">Generalize</a></li>
        <li><a href="/GeometryServer/AutoComplete">AutoComplete</a></li>
        <li><a href="/GeometryServer/Reshape">Reshape</a></li>
        <li><a href="/GeometryServer/ConvexHull">ConvexHull</a></li>
    </ul>
</body>
</html>
