<!doctype html>
<html>
<head>
    <title>Reshape (Geometry)</title>
</head>
<body>
    <form action="" method="get">
    <table>
        <tr>
            <td>
                Spatial Reference:
            </td>
            <td>
                <input type="text" value="" name="sr"/>
            </td>
        </tr>
        <tr valign="top">
            <td>
                Target:
            </td>
            <td>
                <textarea cols="50" rows="10" name="target"></textarea>
            </td>
        </tr>
        <tr valign="top">
            <td>
                Reshaper:
            </td>
            <td>
                <textarea cols="50" rows="10" name="reshaper"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                Format:
            </td>
            <td>
                <select name="f">
                    <option>HTML</option>
                    <option value="json">JSON</option>
                    <option value="pjson">PJSON</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Reshape"/>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>
